* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4698e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --quinary-color: #0000ff;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--maisEscuro);
    color: var(--claro);
}

.navegacao {
    background: rgba(15, 23, 42, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;

}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(var(--primaria));
}

.menu-link:hover::after {
    width: 100%;
    transition: 0.5s ease;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(148, 128, 219, 0.3);
    border-radius: 50%;
    border: 2px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.8rem;
    color: var(--claro);
    font-weight: 500;
    margin: 10px;
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.1rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-caixa a {
    text-decoration: none;
    color: inherit;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    transform: scale(1.05);
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-projetos {
    margin-bottom: 5px;
}

.caixa-texto-projeto {
    padding: 1rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.contato {
    padding: 6rem 2rem;
}

.contato-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.formulario-contato {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    width: 100%;
    padding: 1rem 2rem;
    background: linear-gradient(var(--primaria), var(--secundaria));
    color: var(--claro);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
}

.botao-form:hover {
    background: linear-gradient(var(--secundaria), var(--primaria));
    transform: scale(1.03);
    box-shadow: 0 5 15px rgba(79, 70, 229, 0.4);
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, var(--primaria)0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria)0%, transparent 20%),
    var(--maisEscuro);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.social-icons a {
  color: white;
  font-size: 32px;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons a:nth-child(1):hover {
  color: #0077B5;
}

.social-icons a:nth-child(2):hover {
  color: #0077B5;
}

.social-icons a:nth-child(3):hover {
  color: #0077B5;
}


footer{
    text-align: center;
    padding: 1.5rem;
    background: rgba(15, 23, 42, 0.8);
}

@keyframes flutuar {
    0%, 100%{
        transform: translateY(0);
        
    }
    50%{
        transform: translateY(-20px);
    }
}